:root {
    --hover: #f3f5f9;
    --border: #e0e3eb;
    --primary: #323e54;
    --bg: #fff;
    --disabledBg: #f0f3fa;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#react-light-table {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .react-light-table-wrapper {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;

        &.clickable {
            tbody {
                tr {
                    cursor: pointer;
                }
            }
        }

        &.sortable-table {
            thead {
                th {
                    &:hover {
                        cursor: pointer;
                    }

                    .sortable-header {
                        position: relative;
                        display: inline-flex;
                        align-items: center;
                        gap: .3125rem;
                    }
                }
            }
        }

        thead {
            position: sticky;
            top: 0;
            background: var(--bg);
            z-index: 1;

            th {
                padding: .375rem 0.625rem;
                line-height: 1.3125rem;
                text-align: center;
                user-select: none;
                color: var(--primary);
                border-bottom: solid .0625rem var(--border);
                border-top: solid .0625rem var(--border);

                &.right {
                    text-align: right;
                }

                &.center {
                    text-align: center;
                }

                &.left {
                    text-align: left;
                }
            }
        }

        tbody {
            tr {
                &:not(:last-child) {
                    td {
                        border-bottom: solid .0625rem var(--border);
                    }
                }

                &:hover {
                    background: var(--hover);
                }

                td {
                    padding: .625rem;
                    text-align: center;
                    direction: ltr;
                    height: 3rem;

                    @media only screen and (max-width: 85.375rem) {
                        padding: .5rem;
                    }

                    &.right {
                        text-align: right;
                    }

                    &.center {
                        text-align: center;
                    }

                    &.left {
                        text-align: left;
                    }
                }
            }
        }
    }

    .loading-spinner {
        border: .5rem solid var(--border);
        border-top: .5rem solid var(--primary);
        border-radius: 50%;
        width: .9375rem;
        height: .9375rem;
        animation: spin 1s linear infinite;
        margin: .3125rem auto;
        display: none;

        &.visible {
            display: block;
        }

        &.hidden {
            display: none;
        }
    }

    .spinner-loader {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 25rem;
    }

    .paginationWrapper {
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        direction: ltr;


        .separator {
            width: 1rem;
            margin: 0 0.25rem;
            line-height: 2.1875rem;
        }

        .pageItem {
            background: transparent;
            border: none;
            margin: 0 0.25rem;
            font-weight: 400;
            color: var(--primary);
            padding: .3125rem .625rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            &.prev {
                background-color: var(--hover);
            }

            svg {
                vertical-align: middle;
            }

            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: 0;
            }
        }

        .active {
            background-color: color-mix(in srgb, var(--primary) 20%, transparent);
        }

        .sides {
            border: .0625rem solid var(--border);

            &:hover {
                text-decoration: none;
            }
        }

        .page-link {
            position: relative;
            display: inline-flex;
            border: .0625rem solid #dee2e6;
            background-color: #ffffff;
            padding: .625rem .9375rem;
            color: #0d6efd;
            font-size: 1rem;
            font-weight: 500;
            text-decoration: none;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out;
            cursor: pointer;
        }

        .page-link:first-child {
            border-top-left-radius: .3125rem;
            border-bottom-left-radius: .3125rem;
        }

        .page-link:last-child {
            border-top-right-radius: .3125rem;
            border-bottom-right-radius: .3125rem;
        }

        .page-link:not(:first-child) {
            margin-left: -0.0625rem;
        }

        .page-link:hover,
        .page-link:focus {
            color: #0a58ca;
            background-color: #e9ecef;
        }

        .page-link:focus {
            z-index: 3;
        }

        .page-link.active {
            z-index: 2;
            color: #ffffff;
            border-color: #0d6efd;
            background-color: #0d6efd;
        }

        .page-link.disabled {
            color: #6c757d;
            pointer-events: none;
        }
    }

    .multiline-ellipsis {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        direction: rtl;
        white-space: pre-wrap;
    }
}